
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
</head>
<body>
    <h1>Orders</h1>
    <table>
        <tr>
            <th>id</th>
            <th>customerName</th>
            <th>customerPhone</th>
            <th>customerEmail</th>
            <th>supplier</th>
            <th>app</th>
            <th>amount</th>
            <th>deliveryDate</th>
            <th>regulatorSize</th>
   
        </tr>
        {% for data in response %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.customerName}}</td>
            <td>{{data.customerPhone}}</td>
            <td>{{data.customerEmail}}</td>
            <td>{{data.supplier}}</td>
            <td>{{data.app}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.deliveryDate}}</td>
            <td>{{data.regulatorSize}}</td>
         
        </tr>
        {% endfor %}
    </table>
<style>
    h1{
        font-size: 28px;
      text-align: center;
        color: rgb(22, 7, 22);
    }
table, td, th {  
border: 1px solid rgb(60, 100, 150);
text-align: left;
}

table {
border-collapse: collapse;
width: 100%;

}

th, td {
padding: 10px;
}
</style>
</body>
</html>




