<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
</head>
<body>
    <h1>Cart</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Amount</th>
            <th>Delivery Location</th>
            <th>Supplier</th>
            <th>NearestOutlet</th>
            <th>Product</th>
            
          
        </tr>
        
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.deliveryLocation.latitude}}  {{data.deliveryLocation.longitude}}</td>
            <td>{{data.supplier}}</td>
            <td>{{data.nearestOutlet}}</td>
            
            <td>
                <table>
                    {% for item in data.orders %} 
                    <tr>
                        <td>{{item.product}}</td>
                        <td>Number: {{item.count}}</td>
                        <td>Order type: {{item.orderType}}</td>
                        <td>{{item.createdAt}}</td>
                    </tr> 
                    {% endfor %}
                </table>
            </td>
        
        </tr>
       
    </table>
<style>
    h1{
        font-size: 28px;
      text-align: center;
        color: rgb(22, 7, 22);
    }
table, td, th {  
border: 1px solid rgb(60, 100, 150);
text-align: left;
}

table {
border-collapse: collapse;
width: 100%;

}

th, td {
padding: 10px;
}
</style>
</body>
</html>
